@import url(reset.css);

.header-container {
	position: relative;
	width: 1440px;
	height: 140px;
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.heading {
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #E50043;
	position: relative;
	margin: 47px 0 0 48px;

}

.links-container {
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #E50043;
	text-decoration: none;
	position: relative;
	display: inline-flex;
	

}


.img1 {
	background-image: url(../img/123.jpg);
	width: 1440px;
	height: 950px;
    background-size: contain;
}