@import url(reset.css);

.header-container {
	position: relative;
	width: 1440px;
	height: 140px;
	background-color: #fff;
	display: flex;
}

.heading {
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #E50043;

}

.head-links {
	
	
}


.img1 {
	background-image: : url(../img/123.jpg);
}